* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    color: $text-color;
}

body {
    min-height: 100vh;
    background-color: $bgcolor;
    @include mq(768px) {
        font-size: 36px;
    }
}

main {
    max-width: 800px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0.5rem 0;
    font-size: 1rem;
    @include mq(768px) {
        font-size: 2rem;
    }
}

h2 {
    margin: 0.5rem 0;
    font-size: 0.85rem;
    @include mq(768px) {
        font-size: 1.5rem;
    }
}

h1:focus, 
h2:focus {
    outline: none;
    text-decoration: underline;
}

abbr {
    text-decoration: none;
}