@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin mq($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}

@mixin mqMinWMaxH($size1, $size2) {
    @media only screen and (min-width: $size1) and (max-height: $size2) {
        @content;
    }
}